@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #11111f;
    width: 100%;
}


.container_logo img{
    width: 130px;
    margin-left: 100px;
}

.container_menu{
    margin-right: 100px;
}


.container_menu a{
    margin: 5px;
    padding: 7px;
    text-decoration: none;
    color: #91e7cd;
    font-family: 'Sarala';
    font-size: 13px;
    transition: 0.3s all;
}

.container_menu a:hover{
    background-color: #91e7cd;
    color: #11111f;
}

.carousel_container{
    overflow: hidden;
    position: relative;
    height: 80vh;
    width: 100%;
    margin-top: 1rem;
}
.carousel{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.slide{
    width: 100vw;
    text-align: center;
}

.slide img{
    object-fit: cover;
    height: 395px;
    width: 800px;
}

.slide h1{
    color: white;
    font-size: 40px;
    margin-top: 10px;
    color: #11111f;
    font-family: 'Sarala';
    margin-bottom: 15px;
}


.seta{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 5rem;
    opacity: 0.8;
}

.seta_esquerda{
left: 2rem;
}

.seta_direita{
    right: 2rem;
}


.integrantes_container{
    overflow: hidden;
    position: relative;
    height: 50vh;
    width: 100%;
    margin-top: 1rem;

}
.carrosel_integrantes{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.int_grantes{
    background-color: #11111f;
    height: 450px;
   
}



.integrantes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}






.informacoes_integrantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacoes_integrantes p{
    width: 200px;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    color: rgb(220, 220, 220);
}
.informacoes_integrantes h3{
    font-family: 'Sarala';
    color: white;

}
.informacoes_integrantes a{
    font-family: 'Sarala';
    color: white;
    text-decoration: none;
    

}
.informacoes_integrantes a:hover{
    font-family: 'Sarala';
    color: white;
    text-decoration: underline;


}


.stars{
    display: flex;
    color: yellow;
}


.slide_integrantes{
    width: 100vw;
    text-align: center;
}

.slide_integrantes img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.slide_integrantes h1{
    color: white;
    font-size: 40px;
    margin-top: 10px;
    color: #11111f;
    font-family: 'Sarala';
    margin-bottom: 15px;
}


.seta{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    font-size: 4rem;
    opacity: 0.8;
    color: #91e7cd;
}

.seta_esquerda{
    left: 2rem;
}

.seta_direita{
    right: 2rem;
}


.informacoes{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 80%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.conheca{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 5px;
    width: 300px;
    margin: 30px;
    border-radius: 7px;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.297);
    cursor: pointer;
    transition: 0.3s all;
}
.conheca:hover{
    box-shadow: 3px 3px 4px 2px #47d7ac;
}


.conheca i{
    font-size: 40px;
    color: #11111f;
    margin-bottom: 10px;
    color: #47d7ac;
}

.conheca h3{
    font-family: 'Sarala';
}


/*
#arrow{
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

#animation{
    transition: 300ms;
}
.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}



*/

@keyframes blink{
    to {
        visibility: hidden;
    }
}

.active{
    display: block !important;
}

#about p{
    width: 300px;
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding: 10px;
    
}
#about2 p{
    width: 300px;
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding: 10px;
}
#about a{
    text-decoration: none;
    color: blue;  
}

#about a:hover{
    text-decoration: underline;
    color: blue;  
}
#about2 a{
    text-decoration: none;
    color: blue;
    
}

#about2 ul{
    width: 300px;
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding: 2px;    
}
#about2 li{
    margin-left: 30px;
}




.tecnologias{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #11111f;
}

.container_tecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 5px;
    width: 300px;
    margin: 30px;
    border-radius: 7px;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.297);
    cursor: pointer;
    transition: 0.3s all;
    align-items: center;
    justify-content: center;
}

.container_tecnologias h3{
    color: white;
    font-family: 'Sarala';
    font-size: 20px;
}
.container_tecnologias h3{
    color: white;
    font-family: 'Sarala';
    font-size: 20px;
    margin: 5px;
}
#icon_html{
    font-size: 50px;
    color: rgba(255, 77, 0, 0.637);
}

#icon_css{
    font-size: 50px;
    color: rgba(0, 17, 255, 0.637);
}

#icon_js{
    font-size: 50px;
    color: rgba(255, 255, 0, 0.637);
}


.html:hover{
    box-shadow: 3px 3px 4px 2px rgba(255, 77, 0, 0.637);
}
.css:hover{
    box-shadow: 3px 3px 4px 2px rgba(0, 17, 255, 0.637);
}
.js:hover{
    box-shadow: 3px 3px 4px 2px rgba(255, 255, 0, 0.637);
}


#conteudo_html p{
    width: 300px;
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding: 10px;
    color: white;
    
}




#conteudo_css p{
    width: 300px;
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding: 10px;
    color: white;
}
#conteudo_js p{
    width: 300px;
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding: 10px;
    color: white;
}